@{
    ViewBag.Title = "Sobre BCCR";
}

<h1>@ViewBag.Title</h1>

<p>El Banco Central de Costa Rica es la organización cuyo principal objetivo es controlar la inflación, realiza labores conjuntamente con el Consejo Nacional de Supervisión de Sistema Financiero para cumplir con sus objetivos. Se encarga también de promover la eficiencia del sistema de pagos internos y externos y mantener su normal funcionamiento, entre otras tareas.</p>

<div>
    <h4>Indicadores Bancarios</h4>
    <p>El Banco Central de Costa Rica presenta las actualizaciones y series históricas de sus principales indicadores económicos, además de información relacionada de fuentes externas.</p>
</div>