@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Banco Central de Costa Rica<br />
    San Pedro, San Jose Costa Rica<br />
    <abbr title="Telefono">Tel:</abbr>
    2243-3333
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@bccr.cr">soporte@bccr.cr</a><br />
    <strong>Servicio al Cliente:</strong> <a href="mailto:servicioalcliente@bccr.cr">servicioalcliente@bccr.cr</a>
</address>